.navbar{
    background-color: #10425F!important;
    
}
.navbar-brand{
    color: #F9F6EE;
    font-size: xx-large;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}

.navbar li {
    padding: 0px 20px; ;
}

.navbar li a {
    color: white;
    font-weight: bold;
}

.navbar li a:hover {
    color: rgb(235, 14, 187) !important;
}